@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

.container{
    max-width: 70rem;
    margin: 0 auto;
}

main{
    background-image: url(Assets/background.jpg);
    /* background-image: url("assets/images/bg.jpg"); */
    background-position: center center;
    background-size: max(1250px, 100vw);
    background-repeat: no-repeat;
    height: 700px;
    position: relative;
}

main .box{
    height: 700px;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
}





.navbar{
    height: 70px;
    position: relative;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    height: 92px;
    width: 100% ;
}

.logo{
    height: 40px;
    width: 148px;
}

.nav-items{
    display: flex;
    gap: 10px;
    font-size: 0.9rem;
    font-weight: 550;
}

.language{
    background-color: none;
    border: 1px solid rgb(98, 97, 97);
    color: white;
    padding: 0.4rem 1rem;
    height: 32px;
    border-radius: 0.25rem;
}


.language i {
    margin-right: 0.2rem;
}

.arrow{
    margin-left: 1rem;
}
.btn{
    background-color: red;
    color: white;
    padding: 0.4rem 1rem;
    height: 32px;
    border-radius: 0.25rem;
}


.hero{
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: aliceblue;
    text-align: center;
}

.hero-heading{
    font-size: 2.8rem;
    font-weight: 900;
    font-family: 'Martel Sans', sans-serif;
}

.hero-p{
    font-size: 1.48rem;
    line-height: 2.5;
    font-family: "Poppins", sans-serif;
}

.hero-d{
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
}

.hero-form{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

input{
    height: 56px;
    background-color: rgb(0, 0, 0, 0.5);
    border: 1px solid gray;
    padding-right: 9.9rem;
    padding-left: 1rem;
    font-size: 1.1rem;
    border-radius: 0.3rem;
}

.hero-btn{
    height: 56px;
    border: none;
    font-size: 1.4rem;
    font-weight: 700;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.separation{
    height: 8px;
    background-color: rgb(40, 40, 40);
}


/* Part One */

.part-one{
    width: 100%;
    background-color: black;
    color: aliceblue;
    padding: 5rem 0;
}

.part-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.part-texts{
    width: 40%;
}

.part-img{
    position: relative;
}

.part-img img{
    width: 555px;
    z-index: 10;
    position: relative;
}

.part-img video{
    position: absolute;
    top: 70px;
    right: 0;
    left: 73px;
    width: 450px;
}

.part-heading{
    font-size: 3rem;
    font-family: 'Martel Sans', sans-serif;
    font-weight: 900;
    line-height: 1.4;
}

.part-p{
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
}

.part3 > img + video{
    width: 350px;
    left: 100px;
}


/* Part Two */

.part-two{
    background-color: black;
    color: white;
    padding: 5rem 0;
}

.part-two-heading{
    font-size: 3rem;
    font-family: 'Martel Sans', sans-serif;
    font-weight: 900;
    line-height: 1.4;
    text-align: center;
}

.questions{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    gap: 10px;
}

.question{
    padding:  0 2rem;
    height: 86px;
    background-color: #2d2d2d;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}

.question p {
    font-family: 'Poppins', sans-serif;
}

.parttwo{
    text-align: center;
    margin-top: 50px;
    font-size: 1.2rem;
}


.btn{
    border: none;
}

.question:hover{
    background-color: #505050;
}

/* Footer */

.footer{
    background-color: black;
    color: white;
    font-family: 'Martel Sans', sans-serif;
    padding: 6rem 0;
}

.f-header{
    text-decoration: underline;
    font-family: 'Martel Sans', sans-serif;
    font-size: 0.9rem;
}


.item p {
    font-size: 0.8rem;
    font-family: 'Martel Sans';
    text-decoration: underline;
    line-height: 2.2;
}

.footer-items{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}


.itemfour{
    width: 20%;
}


.language2{
    width: 150px;
    margin-top: 15px;
}

.footer-bottom{
    font-size: 0.8rem;
    font-family: 'Martel Sans';
    line-height: 2.2;
    margin-top: 15px;
}



/* Media Queries */

@media (max-width: 924px){
    .part-items{
        padding: 0 1rem;
    }

    .part-texts{
        margin-bottom: 1rem
    }

    .part-img{
        margin-bottom: 2rem;
    }

    .part-texts{
        width: 100%;
    }

    .part-heading{
        font-size: 1.8rem;
        text-align: center;
    }

    .part-p{
        font-size: 0.8rem;
        text-align: center;
    }

    .part-two-heading{
        font-size: 2rem;
    }
}

@media (max-width: 555px){
    .part-img img{
        width: 450px;
    }

    .part-img video{
        width: 350px;
        left: 60px;
    }

    .part3 > img + video{
        width: 280px;
        left: 80px;
        top: 30px;
    }
}

@media (max-width: 606px){

    .hero-heading{
        font-size: 2rem;
        width: 80%;
    }

    .hero-p, .hero-d{
        font-size: 1.2rem;
        text-align: center;
    }

    .hero-form{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 449px){
    .part-img img{
        width: 100%;
    }

    .part-img video{
        width: 80%;
        left: 50px;
        top: 60px;
    }

    .part3 > img + video{
        width: 65%;
        left: 70px;
        top: 40px;
    }
}

@media (max-width: 400px){
    .language{
        display: none;
    }

    .hero-form input{
        width: 300px;
    }

    .hero-heading{
        font-size: 1.6rem;
        width: 90%;
    }

}

@media (max-width: 350px){
    .hero-p, .hero-d{
        font-size: 1rem;
        text-align: center;
    }
}

@media (max-width: 302px){
    .hero-form input{
        width: 250px;
        font-size: 0.99rem;
        text-align: center;
        padding-right: 0;
        text-align: center;
        padding-left: 0;
    }
}

@media (max-width: 1125px){
    .navbar{
        padding: 0 4rem;
    }

    .footer{
        padding: 4rem 5rem;
    }
}

@media (max-width: 524px){
    .language{
        display: none;
    }
}

@media (max-width: 398px){
    .navbar{
        padding: 0 1rem;
    }
}

@media (max-width: 570px){
    .footer-items{
        display: grid;
        grid-template-columns:  1fr 1fr;
        gap: 20px;
    }
}